<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Registro Comunidad</title>
	<link rel="stylesheet" type="text/css" th:href="@{css/style_Login.css}">
</head>
<body>
<div class="body"></div>
	<div class="grad"></div>
		<div class="header">
			<div>Registro<br>
			 de Comunidad<span><br>
				Estudiantil</span>
			</div>
		</div>
		<br>
<form style="padding-top: 25px;" th:action="@{/login}" th:method="post">
	<div class="login">
		<input type="text" placeholder="Usuario" name="usuario"><br>
			<input type="password" placeholder="Contraseña" name="clave"><br>
				<input type="submit" value="Ingresar">
				<br>
				
	</div>
</form>
</body>
</html>